/*GLOBAL*/
body{
    margin: 0;
    padding: 0;
}

/*GLOBAL-NAV*/
.slide {
    background-color: #40cac5;
    width: 600px;
    height: 300px;
    position: relative;
    
    position: fixed;
    top: -300px;
    right: 0;
    
    transition: .3s ease-in-out;
}

.slide a {
    font-family: 'Source Serif Pro', serif;
    color: white;
    font-size: 350%;
    display: flex;
    justify-content: center;
}

.slide span {
    background-color: #40cac5;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
    
    display: block;
    height: 150px;
    width: 150px;

    font-family: Arial, "Helvetica Nueue", sans-serif;
    font-size: 350%;

    position: absolute;
    right: 50px;
    top: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.open {
    top: 0;
}

/*BODY*/
.body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 1fr 50px;
    grid-template-areas: 
    "h"
    "c"
    "f";
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header {
    grid-area: h;
    background-color: #103252;
    display: flex;
    align-items: center;
}

.header a {
    color: white;
    padding: 50px;
    font-size: 300%;
}

.header h1 {
    font-family: 'Source Serif Pro', serif;
}

.header img {
    width: 250px;
    height: auto;
    margin: 10px;
}

/*GLOBAL CONTENT*/
.content {
    grid-area: c;
}

/*INDEX*/
.content_index {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1500px 1fr;
    grid-template-rows: 950 1fr;
    grid-template-areas: 
    "ib it"
    "il it";
}

.index_img {
    grid-area: ib;
}

.index_img img {
    width: 1450px;
    height: auto;
}

.index_text {
    grid-area: it;
    font-size: 350%;
}

.index_link {
    grid-area: il;
    font-size: 350%;
}

/*HISTORIA*/
.history_content {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "hb ht"
    "hb ht";
}

.history_img {
    grid-area: hb;    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "b1"
    "b2";
}

.history_img img {
    width: 700px;
    height: auto;
}

.history_img figcaption {
    font-size: 300%;
}

.img1 {
    grid-area: b1;
}

.img2 {
    grid-area: b2;
}

.history_text {
    grid-area: ht;
}

.history_text p {
    font-size: 350%;
}

/*INRIKTNINGAR*/
.inriktningar_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 100px repeat(4, 1fr);
    grid-template-areas: 
    "il"
    "ii"
    "lk"
    "sk"
    "kk"
    "fk";
}

.inriktningar a {
    color: white;
    font-family: 'Source Serif Pro', serif;    
    font-size: 300%;
}

.inriktningar_info {
    grid-area: ii;
    font-size: 350%;
}

.inriktningar_lk {
    grid-area: lk;
    font-size: 350%;
}


.inriktningar_sk {
    grid-area: sk;
    font-size: 350%;
}

.inriktningar_kk {
    grid-area: kk;
    font-size: 350%;
}

.inriktningar_fk {
    grid-area: fk;
    font-size: 350%;
}

.inriktningar_lk a {
    color: black;
}

.inriktningar_sk a {
    color: black;
}

.inriktningar_fk a {
    color: black;
}

.inriktningar_kk a {
    color: black;
}

/*FÖRDJUPNING I INRIKTNINGAR*/
.fördjupning_inriktningar_content {
    display: grid;
    grid-template-columns: 1750px 1fr;
    grid-template-rows: 150px repeat(2, 1fr);
    grid-template-areas:
    "il il" 
    "fb ft1"
    "ft2 ft2";
}

.inriktningar {
    grid-area: il;
    background-color: orange;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-span: 1 / -1;
}

.fördjupning_inriktningar_img {
    grid-area: fb;
}

.fördjupning_inriktningar_img img {
    width: 1712px;
    height: auto;
}

.fördjupning_inriktningar_img a {
    color: black;
}

.fördjupning_inriktningar_img figcaption {
    font-size: 250%;
}

.fördjupning_inriktningar_text1 {
    grid-area: ft1;
    font-size: 350%;
    padding: 10px;
}

.fördjupning_inriktningar_text2 {
    grid-area: ft2;
    font-size: 350%;
    column-span: 1 / -1;
    padding: 10px;
}

/*PARTIER*/
.partier_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "M"
    "KD"
    "SD"
    "CDU"
    "CSU"
    "Tories"
    "LR"
    "ÖVP"
    "PP"
    "GOP"
    "Fidesz"
    "PiS";
}

.M {
    grid-area: M;
    font-size: 350%;
    padding: 5px;
}

.M h2 {
    background-color: #8ed8f8;
    color: white;
}

.KD {
    grid-area: KD;
    font-size: 350%;
    padding: 5px;
}

.KD h2 {
    background-color: #005f9c;
    color: white;
}

.SD {
    grid-area: SD;
    font-size: 350%;
    padding: 5px;
}

.SD h2 {
    background-color: #ffdf00;
    color: white;
}

.CDU {
    grid-area: CDU;
    font-size: 350%;
    padding: 5px;
}

.CDU h2 {
    background-color: #ed1c24;
    color: white;
}

.CSU {
    grid-area: CSU;
    font-size: 350%;
    padding: 5px;
}

.CSU h2 {
    background-color: #008ac5;
    color: white;
}

.Tories {
    grid-area: Tories;
    font-size: 350%;
    padding: 5px;
}

.Tories h2 {
    background-color: #1aa0e0;
    color: white;
}

.LR {
    grid-area: LR;
    font-size: 350%;
    padding: 5px;
}

.LR h2 {
    background-color: #202f55;
    color: white;
}

.ÖVP {
    grid-area: ÖVP;
    font-size: 350%;
    padding: 5px;
}

.ÖVP h2 {
    background-color: #61c3d0;
    color: white;
}

.PP {
    grid-area: PP;
    font-size: 350%;
    padding: 5px;
}

.PP h2 {
    background-color: #0056a3;
    color: white;
}

.GOP {
    grid-area: GOP;
    font-size: 350%;
    padding: 5px;
}

.GOP h2 {
    background-color: #e81b23;
    color: white;
}

.Fidesz {
    grid-area: Fidesz;
    font-size: 350%;
    padding: 5px;
}

.Fidesz h2 {
    background-color: #ff6a00;
    color: white;
}

.PiS {
    grid-area: PiS;
    font-size: 350%;
    padding: 5px;
}

.PiS h2 {
    background-color: #012b7f;
    color: white;
}

.footer {
    grid-area: f;
    background-color: #737373;
}

/*UPPLÖSNING 2K*/
@media screen and (max-width: 2560px) {
    .slide a {
        font-size: 300%;
    }

    .content_index {
        display: grid;
        grid-template-columns: 1050px 1fr;
        grid-template-rows: 635 1fr;
    }

    .index_img img {
        width: 1000px;
        height: auto;
    }

    .index_text {
        font-size: 300%;
    }
    
    .index_link {
        font-size: 300%;
    }

    .history_img figcaption {
        font-size: 250%;
    }

    .history_text p {
        font-size: 300%;
    }

    .inriktningar a {   
        font-size: 250%;
    }

    .inriktningar_info {
        font-size: 300%;
    }
    
    .inriktningar_lk {
        font-size: 300%;
    }
    
    .inriktningar_sk {
        font-size: 300%;
    }
    
    .inriktningar_kk {
        font-size: 300%;
    }
    
    .inriktningar_fk {
        font-size: 300%;
    }

    .fördjupning_inriktningar_content {
        grid-template-columns: 1050px 1fr;
    }

    .fördjupning_inriktningar_img img {
        width: 1000px;
        height: auto;
    }

    .fördjupning_inriktningar_img figcaption {
        font-size: 200%;
    }
    
    .fördjupning_inriktningar_text1 {
        font-size: 300%;
    }
    
    .fördjupning_inriktningar_text2 {
        font-size: 300%;
    }

    .M {
        font-size: 300%;
    }
    .KD {
        font-size: 300%;
    }

    .SD {
        font-size: 300%;
    }

    .CDU {
        font-size: 300%;
    }

    .CSU {
        font-size: 300%;
    }

    .Tories {
        font-size: 300%;
    }

    .LR {
        font-size: 300%;
    }

    .ÖVP {
        font-size: 300%;
    }

    .PP {
        font-size: 300%;
    }

    .GOP {
        font-size: 300%;
    }
    
    .Fidesz {
        font-size: 300%;
    }

    .PiS {
        font-size: 300%;
    }
}

/*UPPLÖSNING 1080p*/
@media screen and (max-width: 1920px) {
    .body {
        grid-template-rows: 150px 1fr 50px;
    }

    .slide {
        width: 450px;
        height: 150px;
        position: relative;
        
        position: fixed;
        top: -150px;
        right: 0;
    }

    .slide a {
        font-size: 175%;
    }
    
    .slide span {
        display: block;
        height: 50px;
        width: 50px;
        font-size: 200%;
        
        position: absolute;
        right: 50px;
        top: 150px;

        display: flex;
        justify-content: center;
    }
    
    .open {
        top: 0;
    }

    .header img {
        width: 100px;
        height: auto;
        margin: 10px;
    }

    .header a {
        font-size: 200%;
    }

    .content_index {
        display: grid;
        grid-template-columns: 550px 1fr;
        grid-template-rows: 480 1fr;
    }

    .index_img img {
        width: 500px;
        height: auto;
    }

    .index_text {
        font-size: 100%;
    }
    
    .index_link {
        font-size: 100%;
    }

    .history_content {
        display: grid;
        grid-template-columns: 450px 1fr;
    }

    .history_img img {
        width: 400px;
        height: auto;
    }

    .history_img figcaption {
        font-size: 75%;
    }

    .history_text p {
        font-size: 100%;
    }

    .inriktningar_content {
        grid-template-rows: 100px 100px repeat(4, 1fr);
    }

    .fördjupning_inriktningar_content {
        grid-template-rows: 100px repeat(2, 1fr);
        grid-template-columns: 350px 1fr;
    }

    .fördjupning_inriktningar_img img {
        width: 300px;
        height: auto;
    }

    .inriktningar a {   
        font-size: 100%;
    }

    .inriktningar_info {
        font-size: 100%;
    }
    
    .inriktningar_lk {
        font-size: 100%;
    }
    
    .inriktningar_sk {
        font-size: 100%;
    }
    
    .inriktningar_kk {
        font-size: 100%;
    }
    
    .inriktningar_fk {
        font-size: 100%;
    }

    .fördjupning_inriktningar_img figcaption {
        font-size: 75%;
    }
    
    .fördjupning_inriktningar_text1 {
        font-size: 100%;
    }
    
    .fördjupning_inriktningar_text2 {
        font-size: 100%;
    }

    .M {
        font-size: 100%;
    }
    .KD {
        font-size: 100%;
    }

    .SD {
        font-size: 100%;
    }

    .CDU {
        font-size: 100%;
    }

    .CSU {
        font-size: 100%;
    }

    .Tories {
        font-size: 100%;
    }

    .LR {
        font-size: 100%;
    }

    .ÖVP {
        font-size: 100%;
    }

    .PP {
        font-size: 100%;
    }

    .GOP {
        font-size: 100%;
    }
    
    .Fidesz {
        font-size: 100%;
    }

    .PiS {
        font-size: 100%;
    }
}

/*UPPLÖSNING 720p*/
@media screen and (max-width: 1280px) {
    .body {
        grid-template-rows: 150px 1fr 50px;
    }

    .slide {
        width: 450px;
        height: 150px;
        position: relative;
        
        position: fixed;
        top: -150px;
        right: 0;
    }

    .slide a {
        font-size: 175%;
    }
    
    .slide span {
        display: block;
        height: 50px;
        width: 50px;
        font-size: 200%;
        
        position: absolute;
        right: 50px;
        top: 150px;

        display: flex;
        justify-content: center;
    }
    
    .open {
        top: 0;
    }

    .header img {
        width: 100px;
        height: auto;
        margin: 10px;
    }

    .header a {
        font-size: 150%;
    }

    .content_index {
        display: grid;
        grid-template-columns: 650px 1fr;
        grid-template-rows: 480 1fr;
    }

    .index_img img {
        width: 600px;
        height: auto;
    }

    .index_text {
        font-size: 100%;
    }
    
    .index_link {
        font-size: 100%;
    }

    .history_img img {
        width: 300px;
        height: auto;
    }

    .history_img figcaption {
        font-size: 100%;
    }

    .history_text p {
        font-size: 100%;
    }

    .inriktningar_content {
        grid-template-rows: repeat(2, 50px) repeat(4, 1fr);
    }

    .inriktningar a {   
        font-size: 100%;
    }

    .inriktningar_info {
        font-size: 100%;
    }
    
    .inriktningar_lk {
        font-size: 100%;
    }
    
    .inriktningar_sk {
        font-size: 100%;
    }
    
    .inriktningar_kk {
        font-size: 100%;
    }
    
    .inriktningar_fk {
        font-size: 100%;
    }

    .fördjupning_inriktningar_content {
        grid-template-columns: 850px 1fr;
    }

    .fördjupning_inriktningar_img img {
        width: 800px;
        height: auto;
    }

    .fördjupning_inriktningar_img figcaption {
        font-size: 100%;
    }
    
    .fördjupning_inriktningar_text1 {
        font-size: 100%;
    }
    
    .fördjupning_inriktningar_text2 {
        font-size: 100%;
    }

    .M {
        font-size: 100%;
    }
    .KD {
        font-size: 100%;
    }

    .SD {
        font-size: 100%;
    }

    .CDU {
        font-size: 100%;
    }

    .CSU {
        font-size: 100%;
    }

    .Tories {
        font-size: 100%;
    }

    .LR {
        font-size: 100%;
    }

    .ÖVP {
        font-size: 100%;
    }

    .PP {
        font-size: 100%;
    }

    .GOP {
        font-size: 100%;
    }
    
    .Fidesz {
        font-size: 100%;
    }

    .PiS {
        font-size: 100%;
    }
}

/*UPPLÖSNING SURFPLATTA*/
@media screen and (max-width: 1100px) {
    .body {
        grid-template-rows: 100px 1fr 50px;
    }

    .slide {
        background-color: #40cac5;
        width: 200px;
        height: 100px;
        position: relative;
        
        position: fixed;
        top: -100px;
        right: 0;
        
        transition: .3s ease-in-out;
    }

    .slide a {
        font-size: 100%;
    }
    
    .slide span {
        display: block;
        height: 50px;
        width: 50px;
        font-size: 200%;
        
        position: absolute;
        right: 50px;
        top: 100px;

        display: flex;
        justify-content: center;
    }
    
    .open {
        top: 0;
    }

    .header img {
        width: 75px;
        height: auto;
        margin: 10px;
    }

    .header a {
        font-size: 100%;
    }

    .content_index {
        grid-template-columns: 450px 1fr;
        grid-template-rows: auto 1fr;
    }
    
    .index_img img {
        width: 400px;
        height: auto;
    }
    
    .history_content {
        grid-template-columns: 400px 1fr;
    }

    .inriktningar_content {
        grid-template-rows: 50px 50px repeat(4, 1fr);
    }

    .fördjupning_inriktningar_content {
        grid-template-columns: 450px 1fr;
        grid-template-rows: 50px repeat(2, 1fr);
    }

    .fördjupning_inriktningar_img img {
        width: 400px;
        height: auto;
    }
}

/*UPPLÖSNING MOBIL STOR*/
@media screen and (max-width: 600px) {
    .slide {
        background-color: #40cac5;
        width: 100px;
        height: 100px;
        position: relative;
        
        position: fixed;
        top: -100px;
        right: 0;
        
        transition: .3s ease-in-out;
    }

    .slide a {
        font-size: 100%;
    }
    
    .slide span {
        display: block;
        height: 25px;
        width: 25px;
        font-size: 100%;
        
        position: absolute;
        right: 50px;
        top: 100px;

        display: flex;
        justify-content: center;
    }
    
    .open {
        top: 0;
    }
    
    .header a {
        font-size: 50%;
    }
    .content_index {
        grid-template-columns: auto;
        grid-template-rows: 270px repeat(2, 1fr);
        grid-template-areas: 
        "ib"
        "it"
        "il";
    }

    
    .content_index {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
    }
    
    .index_img img {
        width: 400px;
        height: auto;
    }

    .history_content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 285px 1fr;
        grid-template-areas: 
        "hb"
        "ht";
    }
    
    .history_img {
        grid-area: hb;    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "b1 b2";
    }

    .history_img img {
        width: 140px;
        height: auto;
    }

    .fördjupning_inriktningar_img figcaption {
        font-size: 50%;
    }
    
    .img1 {
        grid-area: b1;
    }
    
    .img2 {
        grid-area: b2;
    }
    
    .history_text {
        grid-area: ht;
    }

    .inriktningar_content {
        grid-template-rows: 100px 100px repeat(4, 1fr);
    }

    .inriktningar {
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;
    }

    .fördjupning_inriktningar_content {
        grid-template-columns: auto;
        grid-template-rows: 100px repeat(3, 1fr);
        grid-template-areas:
        "il" 
        "fb" 
        "ft1"
        "ft2";
    }

    .fördjupning_inriktningar_img img {
        width: 300px;
        height: auto;
    }

    figcaption {
        font-size: 50%
    }
}

/*UPPLÖSNING MOBIL LITEN*/
@media screen and (max-width: 400px) {
    .index_img img {
        width: 250px;
        height: auto;
    }

    .history_img img {
        width: 100px;
        height: auto;
    }
    
    figcaption {
        font-size: 50%
    }
}