
.body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:    150px auto 150px;
    grid-template-areas:
    "h"
    "c"
    "f";
}

.header {
    grid-area: "h";
}

.content {
    grid-area: "c";
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "b t"
    "l t";
}

.content_img {
    grid-area: "b";
}

.content_text {
    grid-area: "t";
}

.content_link {
    grid-area: "l";
}

.footer {
    grid-area: "f";
}

@media screen and (max-width: 992px) {
    .content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3 fr);
        grid-template-areas: 
        "b "
        "t"
        "l";
    }
    .content_img {
        grid-area: "b";
    }
    
    .content_text {
        grid-area: "t";
    }
    
    .content_link {
        grid-area: "l";
    }
}