body{
    margin: 0;
    padding: 0;
}

.slide {
    background-color: #40cac5;
    width: 300px;
    height: 150px;

    position: fixed;
    top: -150px;
    right: 0;

    transition: .3s ease-in-out;

    box-shadow: 5px 0 5px rgba(50, 50, 50, .4);
}

.slide span {
    background-color: #40cac5;
    

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
    box-shadow: 5px 0 5px rgba(50, 50, 50, .4);
    
    height: 50px;
    width: 50px;

    font-family: Arial, "Helvetica Nueue", sans-serif;
    font-size: 2rem;

    position: absolute;
    right: 50px;
    top: 150px;
}

.body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto 275px;
    grid-template-areas:
    "h"
    "c"
    "f";
    gap: 3px;
    width: 100%;
}

.header {
    grid-area: h;
    background-color: #103252;
    font-family: 'Source Serif Pro', serif;
    color: white;
    display: flex;
    align-items: center;
}

.header h1 {
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 4rem;
}

.header img {
    background-color: white; 
    margin: 10px;
    padding: 10px;
    width: 7%;
    height: auto;
}
.content {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "b t"
    "l t";
}

.content img {
    width: 75%;
    height: auto;
}

.content_img {
    grid-area: b;
    size: 4rem;
}

.content_text {
    grid-area: t;
    margin: 10px;
    padding: 5px;
    font-size: 4rem;
}

.content_link {
    grid-area: l;
    display: flex;
    align-items: flex-start;
    font-size: 4rem;
}

.footer {
    grid-area: f;
}

.open {
    top: 150;
    box-shadow: 5px 0 5px 0 rgba(50,50,50, .4);
}

@media screen and (max-width: 2560px) {
    .body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 250px auto 225px;
        grid-template-areas:
        "h"
        "c"
        "f";
        gap: 3px;
        width: 100%;
    }
    
    .header {
        grid-area: h;
        background-color: #103252;
        font-family: 'Source Serif Pro', serif;
        color: white;
        display: flex;
        align-items: center;
    }
    
    .header h1 {
        text-align: right;
        margin: 10px;
        padding: 10px;
    }
    
    .header img {
        background-color: white; 
        margin: 10px;
        padding: 10px;
    }
    .content {
        grid-area: c;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "b t"
        "l t";
    }

    .content_img {
        grid-area: b;
    }
    
    .content_text {
        grid-area: t;
        margin: 10px;
        padding: 5px;
        font-size: 3rem;
    }
    
    .content_link {
        grid-area: l;
        display: flex;
        align-items: flex-start;
        font-size: 3rem;
    }
    
    .footer {
        grid-area: f;
    }
}

@media screen and (max-width: 1920px) {
    .body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 175px auto 150px;
        grid-template-areas:
        "h"
        "c"
        "f";
        gap: 3px;
        width: 100%;
    }
    
    .header {
        grid-area: h;
        background-color: #103252;
        font-family: 'Source Serif Pro', serif;
        color: white;
        display: flex;
        align-items: center;
    }
    
    .header h1 {
        text-align: right;
        margin: 10px;
        padding: 10px;
    }
    
    .header img {
        background-color: white; 
        margin: 10px;
        padding: 10px;
    }
    .content {
        grid-area: c;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "b t"
        "l t";
    }

    .content_img {
        grid-area: b;
    }
    
    .content_text {
        grid-area: t;
        margin: 10px;
        padding: 5px;
        font-size: 2rem;
    }
    
    .content_link {
        grid-area: l;
        display: flex;
        align-items: flex-start;
        font-size: 2rem;
    }
    
    .footer {
        grid-area: f;
    }
}

@media screen and (max-width: 1280px) {
    .body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 150px auto 125px;
        grid-template-areas:
        "h"
        "c"
        "f";
        gap: 3px;
        width: 100%;
    }
    
    .header {
        grid-area: h;
        background-color: #103252;
        font-family: 'Source Serif Pro', serif;
        color: white;
        display: flex;
        align-items: center;
    }
    
    .header h1 {
        text-align: right;
        margin: 10px;
        padding: 10px;
    }
    
    .header img {
        background-color: white; 
        margin: 10px;
        padding: 10px;
    }
    .content {
        grid-area: c;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "b t"
        "l t";
    }
    
    .content_img {
        grid-area: b;
    }
    
    .content_text {
        grid-area: t;
        margin: 10px;
        padding: 5px;
    }
    
    .content_link {
        grid-area: l;
        display: flex;
        align-items: flex-start;
    }
    
    .footer {
        grid-area: f;
    }
}

@media screen and (max-width: 992px) {
    .content {
        grid-area: c;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "b"
        "t"
        "l";
    }
    .content_img {
        grid-area: b;
    }
    
    .content_text {
        grid-area: t;
    }
    
    .content_link {
        grid-area: l;
    }
}